.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid rgb(229 231 235);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  gap: 32px;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  margin: 0;
}

.card-description {
  margin: 0;
  color: grey;
}

.card-select {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid rgb(229, 231, 235);
  background-color: white;
  color: grey;
  cursor: pointer;
}
