<main>
  <h1>Welcome to Acme Inc HR System</h1>
  <p>Manage your employees and departments with ease.</p>
  <section>
    <app-card
      [cardTitle]="'Employee count'"
      [cardValue]="235"
      [iconName]="'users'"
    ></app-card>
    <app-card
      [cardTitle]="'Department count'"
      [cardValue]="12"
      [iconName]="'network'"
    ></app-card>
    <app-card
      [cardTitle]="'Average salary'"
      [cardValue]="65000"
      [iconName]="'hand-coins'"
    ></app-card>
    <app-card
      [cardTitle]="'Open Positions'"
      [cardValue]="10"
      [iconName]="'contact'"
    ></app-card>
  </section>
</main>
